/* Custom Fonts for Invitation Architect */

@font-face { font-family: 'Amelina Script'; src: url('/fonts/Amelina Script.otf') format('opentype'); }
@font-face { font-family: 'Brittany Signature'; src: url('/fonts/BrittanySignature.ttf') format('truetype'); }
@font-face { font-family: 'White Angelica'; src: url('/fonts/WhiteAngelica.ttf') format('truetype'); }
@font-face { font-family: 'Adelio Darmanto'; src: url('/fonts/Adelio Darmanto.otf') format('opentype'); }
@font-face { font-family: 'Halimun'; src: url('/fonts/Halimun.ttf') format('truetype'); }
@font-face { font-family: 'Bodoni* 06pt'; src: url('/fonts/Bodoni Book.ttf') format('truetype'); }
@font-face { font-family: 'Abeganshi'; src: url('/fonts/Abeganshi.ttf') format('truetype'); }
@font-face { font-family: 'Elsie'; src: url('/fonts/Elsie-Regular.ttf') format('truetype'); }
@font-face { font-family: 'Poppins Light'; src: url('/fonts/Poppins-Light.ttf') format('truetype'); }
@font-face { font-family: 'Poppins Black'; src: url('/fonts/Poppins-Black.ttf') format('truetype'); }
@font-face { font-family: 'Gilroy Light'; src: url('/fonts/Gilroy Light.otf') format('opentype'); }
@font-face { font-family: 'Gilroy ExtraBold'; src: url('/fonts/Gilroy ExtraBold.otf') format('opentype'); }
@font-face { font-family: 'Bebas Neue'; src: url('/fonts/BebasNeue.otf') format('opentype'); }
@font-face { font-family: 'Aero'; src: url('/fonts/Aero.ttf') format('truetype'); }
@font-face { font-family: 'Burbank Big Cd Bd'; src: url('/fonts/Burbank Big Condensed Bold.otf') format('opentype'); }
@font-face { font-family: 'Mega Surprise'; src: url('/fonts/Mega Surprise.ttf') format('truetype'); }
@font-face { font-family: 'Dry Brush'; src: url('/fonts/Dry Brush.ttf') format('truetype'); }
@font-face { font-family: 'Carnivalee Freakshow'; src: url('/fonts/Carnevalee Freakshow.ttf') format('truetype'); }
@font-face { font-family: 'Akira Expanded'; src: url('/fonts/Akira Expanded.otf') format('opentype'); }
@font-face { font-family: 'Road Rage'; src: url('/fonts/Road Rage.otf') format('opentype'); }
